@font-face {
	font-family: 'Helvetica Bold Font';
	src: url('Helvetica-Bold-Font.ttf') format('truetype');
}body h5 {
    color: #CCDDDB;
    font-size: medium;
    text-align: left;
    padding-top: 40px;
}
body h6 {
    font-size: small;
    color: #CCDDDB;
    text-align: left;
}
